---
layout: base
---

<style>
    html {
        --color-bright: #A0B1BA;
        --color-dark: #536067;
        --color-darker: #313b41;
    }

    body {
        background-color: #1f1f1f;
        padding: 0;
        margin: 0;
    }

    svg {
        display: block;
        margin: auto;
    }

    circle {
        &:not(.background) {
            stroke: var(--color-bright);
            stroke-width: 2;
            fill: #1f1f1faa; /* Make the circle semi-transparent */
            r: 5;
            cursor: pointer;
        }

        &.prereq {
            fill: var(--color-bright);
            r: 10;
        }
        &.require {
            r: 10;
        }

        &.background {
            fill: none;
            stroke: var(--color-darker);
            stroke-width: 1;
        }
    }

    text {
        fill: var(--color-dark);
        font-size: 0.75rem;

        &:hover, &.active {
            fill: var(--color-bright);
        }
    }

    line {
        stroke: var(--color-bright);

        &.connect {
            stroke: var(--color-dark);
            stroke-width: 1;
            stroke-dasharray: 5, 25;
        }
        &.prereq {
            stroke-width: 3;
        }
        &.require {
            stroke-width: 2;
            stroke-dasharray: 5, 5;
        }

        &.background {
            stroke: var(--color-darker);
            stroke-width: 1;
        }
    }
</style>

<!-- Import data -->
{% for collection in site.collections %}
    {% for page in collection.docs %}
        <data
            subject="{{ collection.name }}"
            chapter="{{ page.url | slice: 1, page.url.size | replace: '/', '-' }}"
            prerequisites="{{ page.prerequisites | join: ',' }}"
            draft="{% if page.layout == 'draft'%}true{% endif%}"
        ></data>
    {% endfor %}
{% endfor %}

<!--
    Each dot represents a chapter, each line represents a prerequisite.
    Unfinished level does not have dot, but still have lines
    the dots make a circle, with the inner circle represents chapter in the lower levels
-->

<svg width="600" height="600">
    <g id="legend">
        <circle cx="10" cy="10" r="5"></circle>
        <text x="25" y="15">Chapter</text>
        <circle cx="10" cy="30" r="10" class="prereq"></circle>
        <text x="25" y="35">Prerequisite</text>
        <circle cx="10" cy="50" r="10" class="require"></circle>
        <text x="25" y="55">Dependent</text>
    </g>
    <g id="line"></g>
    <g id="text"></g>
    <g id="dot"></g>
</svg>

<script src="{{ site.url }}/level.js"></script>
<script>
    // Split to svg group to make sure the z-index prioritize the dot
    const svg = document.querySelector("svg"),
        svgLegend = document.getElementById("legend"),
        svgLine = document.getElementById("line"),
        svgText = document.getElementById("text"),
        svgDot = document.getElementById("dot");

    // Draw lines between two circle
    function drawLine(from, to, type) {
        let line = document.createElementNS("http://www.w3.org/2000/svg", "line");
        line.setAttribute("x1", from.getAttribute("cx"));
        line.setAttribute("y1", from.getAttribute("cy"));
        line.setAttribute("x2", to.getAttribute("cx"));
        line.setAttribute("y2", to.getAttribute("cy"));
        line.classList.add(type);
        svgLine.appendChild(line);
    }

    // Draw text from ID
    function highlightText(id) {
        document.querySelector("text[for='" + id + "']").classList.add('active');
    }

    // Show prerequisites
    function viewTree(dot) {
        const prerequisites = chapters[dot.id].prerequisites;
        dot.classList.add('prereq');
        highlightText(dot.id);

        // Show only the dots that are prerequisites, recursively
        for (const prereq of prerequisites) {
            const preDot = document.getElementById(prereq);
            if (preDot) {
                drawLine(dot, preDot, 'prereq');
                viewTree(preDot);
                viewLeaves(preDot.id, 1);
            }
        }
    }

    // Show the chapters that require this chapter, recursively
    function viewLeaves(chapterId, call) {
        for (const id in chapters) {
            const chapter = chapters[id];
            if (!chapter.prerequisites.includes(chapterId)) continue;

            const dot = document.getElementById(id);
            if (!dot) continue;

            if (call == 0) {
                // Initial call from the third scan to draw connect lines
                drawLine(dot, document.getElementById(chapterId), 'connect');
                viewLeaves(dot.id, 0);
            } else {
                // Call when user click on a chapter
                if (call == 1) {
                    drawLine(dot, document.getElementById(chapterId), 'require');
                    highlightText(dot.id);
                }
                dot.classList.add('require');
                viewLeaves(dot.id, call + 1);
            }
        }
    }

    // make svg take the entire window, can use Math.max for a scrollable map
    const maxLength = Math.min(window.innerHeight, window.innerWidth) - 20;
    svg.setAttribute("width", maxLength);
    svg.setAttribute("height", maxLength);
    svgLegend.setAttribute("transform", `translate(${maxLength - 200}, ${maxLength - 100})`);

    // First scan for the maximum level and the number of subjects
    let maxLevel = 0, allSubjects = {};
    for (const id in chapters) {
        const chapter = chapters[id];
        if (chapter.level > maxLevel)
            maxLevel = chapter.level;

        if (allSubjects[chapter.subject])
            allSubjects[chapter.subject]++;
        else
            allSubjects[chapter.subject] = 1;
    }

    // Draw background circles for levels
    const levelLength = maxLength / (maxLevel + 1); // The length of each level
    for (let i = 1; i <= maxLevel + 1; i++) {
        let circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
        circle.setAttribute("cx", 10);
        circle.setAttribute("cy", 10);
        circle.setAttribute("r", i * levelLength);
        circle.classList.add('background');
        svgLine.appendChild(circle);
    }

    // Find the sum to calculate the angle for each subject
    // this way we can distribute the subjects evenly
    let subjectIndexSum = 0;
    for (const subject in allSubjects)
        subjectIndexSum += allSubjects[subject];

    // Second scan for each chapter to draw visual
    let curSubject = '', curSubjectIndex = 0, curSubjectAngle = 0, nextSubjectAngle = 0;
    for (const id in chapters) {
        // If the subject changes, draw a line to separate the subjects
        if (curSubject != chapters[id].subject) {
            curSubjectIndex += allSubjects[curSubject] || 0;
            curSubject = chapters[id].subject;
            curSubjectAngle = (Math.PI / 2) * (curSubjectIndex / subjectIndexSum);
            nextSubjectAngle = (Math.PI / 2) * ((curSubjectIndex + allSubjects[curSubject]) / subjectIndexSum);

            if (curSubjectAngle != 0) {
                // Skip the first line, which is the top line, for artistic purposes
                let line = document.createElementNS("http://www.w3.org/2000/svg", "line");
                line.setAttribute("x1", 10);
                line.setAttribute("y1", 10);
                line.setAttribute("x2", maxLength * Math.cos(curSubjectAngle) + 10);
                line.setAttribute("y2", maxLength * Math.sin(curSubjectAngle) + 10);
                line.classList.add('background');
                svgLine.appendChild(line);
            }
        }

        console.log(id, curSubjectIndex, curSubjectAngle, nextSubjectAngle);

        const chapter = chapters[id];
        let dot = document.createElementNS("http://www.w3.org/2000/svg", "circle"),
            angle = curSubjectAngle + Math.random() * (nextSubjectAngle - curSubjectAngle), // Randomize the angle a bit to avoid overlap
            length = maxLength - (chapter.level + 1 - Math.random() * 0.8) * levelLength; // Randomize the position a bit to avoid overlap
        let x = length * Math.cos(angle) + 10,
            y = length * Math.sin(angle) + 10;

        dot.setAttribute("cx", x);
        dot.setAttribute("cy", y);
        dot.setAttribute("id", id);
        dot.setAttribute("prerequisites", chapter.prerequisites.join(","));
        dot.setAttribute("onclick", "viewTree(this); viewLeaves(this.id, 1);");
        dot.setAttribute("title", id);
        svgDot.appendChild(dot);

        let text = document.createElementNS("http://www.w3.org/2000/svg", "text");
        text.setAttribute("x", x + 15);
        text.setAttribute("y", y + 2.5);
        text.setAttribute("for", id);
        text.textContent = id;
        svgText.appendChild(text);
    }

    // Third scan for each chapter to draw lines between prerequisites
    for (const id in chapters) viewLeaves(id, 0);

    // Firefox does not apply CSS radius to SVG, so we apply it manually
    if (navigator.userAgent.includes("Firefox")) {
        const circles = document.querySelectorAll("#dot circle");
        circles.forEach(circle => {
            circle.setAttribute("r", 10);
        });
    }
</script>