<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke's n-week-project</title>
    <link rel="shortcut icon" href="https://lukenk.github.io/print/letterhead.svg" type="image/x-icon">

    <link rel="stylesheet" href="{{ site.url }}/style.css">
</head>
<body>
    {{ content }}
    <div id="navWeb">
        <button
            onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
            title="Scroll to top"
        >⬆</button>
        <button
            onclick="window.location.href='{{ site.url }}'"
            title="Go to home"
        >⬅</button>
    </div>
</body>
<script src="{{ site.url }}/script.js"></script>
</html>